$bold-weight: 700;
$regular-weight: 400;

@mixin font-setup($font-weight, $font-size, $line-height) {
  color: var(--black);
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

.Bold28 {
  @include font-setup($bold-weight, 28px, 42px);
}
.Regular28 {
  @include font-setup($regular-weight, 28px, 42px);
}

.Bold24 {
  @include font-setup($bold-weight, 24px, 36px);
}
.Regular24 {
  @include font-setup($regular-weight, 24px, 36px);
}

.Bold20 {
  @include font-setup($bold-weight, 20px, 30px);
}
.Regular20 {
  @include font-setup($regular-weight, 20px, 30px);
}

.Bold18 {
  @include font-setup($bold-weight, 18px, 28px);
}
.Regular18 {
  @include font-setup($regular-weight, 18px, 28px);
}

.Bold16 {
  @include font-setup($bold-weight, 16px, 26px);
}
.Regular16 {
  @include font-setup($regular-weight, 16px, 26px);
}

.Bold15 {
  @include font-setup($bold-weight, 15px, 22px);
}
.Regular15 {
  @include font-setup($regular-weight, 15px, 22px);
}

.Bold14 {
  @include font-setup($bold-weight, 14px, 20px);
}
.Regular14 {
  @include font-setup($regular-weight, 14px, 20px);
}

.Regular12 {
  @include font-setup($regular-weight, 12px, 18px);
}
