body {
  margin: 0;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: scroll;
  z-index: -999;
}

.cardList {
  position: absolute;
  top: 180px;
  display: grid;
  grid-template-columns: repeat(3, 384px);
  grid-auto-flow: row;
  grid-gap: 24px 24px;
  justify-self: stretch;
  padding: 0;
  padding-bottom: 90px;
}

/*tablet*/
@media (max-width: 1199px) {
  .cardList {
    top: 180px;
    grid-template-columns: repeat(2, 352px);
    grid-gap: 16px 16px;
  }
}
/*mobile*/
@media (max-width: 767px) {
  .cardList {
    top: 170px;
    grid-template-columns: repeat(1, 352px);
    grid-gap: 16px 16px;
  }
}
