.arrow_img {
  cursor: pointer;
}

.arrowDrop {
  position: relative;
}

.arrow_drop {
  display: grid;
  grid-template: 1fr 1fr / repeat(4, 1fr);
  gap: 10px;
  background-color: white;
  border: 1px solid rgba(182, 182, 182, 1);
  width: 312px;
  height: 134px;
  border-radius: 8px;
  padding: 24px;
  position: absolute;
  top: 10px;
  right: 0;

  @media (max-width: 768px) {
    grid-template: 1fr 1fr / repeat(3, 1fr);
    width: 248px;
    height: 134px;
  }

  @media (max-width: 360px) {
    width: 203px;
    height: 98px;
    padding: 16px;
  }
}

.emoji_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: white;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.54);
}
