.toggleBox {
  display: flex;
  flex-direction: row;
  margin: 24px 0;

  button {
    margin: 0;
  }
}

.selectorBox {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media (max-width: 767px) {
    gap: 12px;
  }

  .selectLabel {
    width: 168px;
    height: 168px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
    cursor: pointer;
    background-size: cover;

    @media (max-width: 767px) {
      $mobile-width: calc((360px) / 4);
      min-width: 154px;
      min-height: 154px;
      width: $mobile-width;
      height: $mobile-width;
      aspect-ratio: 1 / 1;
    }
  }

  .selectLabel > .check {
    @media (max-width: 767px) {
      $mobile-width: calc((360px) / 4);
      width: $mobile-width;
      height: $mobile-width;
      aspect-ratio: 1 / 1;
    }
  }

  .selectLabel > .check {
    width: 44px;
    height: 44px;
    background: var(--gray-500);
    border-radius: 100px;
    margin: 62px;
    z-index: 1;

    @media (max-width: 767px) {
      margin: 55px;
    }
  }

  .checked {
    display: block;
  }

  .checkboxInput {
    display: none;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}
