// 테마 변수 정의
@mixin transition($duration: 0.3s, $timing-function: ease) {
  transition: all $duration $timing-function;
}
$light-background: #ffffff;
$light-text: #000000;
$dark-background: var(--grey-800);
$dark-text: #ffffff;

* {
  @include transition();
}

/* Light Style */
.light-mode {
}

/* Dark Style */
.dark-mode {
  background-color: $dark-background;
  color: $dark-text;

  /* 글로벌 헤더 */
  .global-header {
    background-color: $dark-background;
    border-bottom: 1px solid var(--grey-700);

    .logo-text {
      filter: brightness(500%);
    }

    .create-button {
      border: 1px solid var(--purple-600);
      background-color: var(--purple-600);
    }

    .create-button-text {
      color: var(--white);
    }
  }

  /* 롤링페이퍼 헤더 */
  .dark-rolling-header {
    background-color: $dark-background;
    border-bottom: 1px solid var(--grey-600);

    .dark-emoji-dropdown {
      filter: invert(100%);
    }

    .dark-text {
      color: var(--white);
    }
  }

  /* 롤링페이퍼 생성 폼 */
  .dark-paper-post {
    background-color: $dark-background;
    label,
    h2 {
      color: var(--grey-200);
    }

    p {
      color: var(--grey-400);
    }
  }

  /* 메시지 생성 폼 */
  .dark-message-form {
    h2 {
      color: var(--grey-200);
    }

    p {
      color: var(--grey-400);
    }
  }

  /* 롤링페이퍼 목록페이지 */
  .dark-list-page {
    h1 {
      color: var(--white);
    }
  }
}
