.editButton {
  position: fixed;
  bottom: 40px;
  right: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-300);
  border-radius: 100px;
  padding: 14px;
  font-size: 12px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;

  .editIcon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
  }

  &:hover {
    background-color: var(--purple-600);
  }
}

/* Tablet & Mobile */
@media (max-width: 1919px) {
  .editButton {
    background-color: var(--purple-600);
    right: 8px;
    padding: 12px;
  }
}
