.toggle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 195px;
  background: var(--grey-100);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}

.item {
  height: 40px;
  padding-inline: 28px;
  color: var(--gray-500);
  background: var(--grey-100);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--gray-200);
  }
}

.selected {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  box-shadow: 0 0 0 2px var(--purple-600) inset;
  background: var(--white);
  color: var(--purple-700);

  &:hover {
    background: var(--white);
  }
}
