.container {
  button {
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.controlButtons {
  position: fixed;
  bottom: 10%;
  right: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* Tablet */
@media (max-width: 1919px) {
  .controlButtons {
    position: fixed;
    right: 0;
    left: 0;
    padding: 0 60px;
    bottom: 14px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .controlButtons {
    padding: 0 30px;
  }
}
