.name {
  margin: 0px 0 12px;
}

.image {
  margin: 12px 0;
}

.card {
  padding: 30px 24px;
  width: 275px;
  height: 260px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hr {
  margin: 43px 0 16px;
}
