.emoji_container {
  display: flex;
  gap: 10px;
  :hover {
    cursor: default;
  }
}

.badge_emoji {
  width: 66px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #0000008a;
  color: var(--white);
  border: none;
  border-radius: 32px;

  @media (max-width: 600px) {
    width: 53px;
    height: 28px;
  }
}

.emoji_count {
  color: var(--white);
}

.add_message {
  color: var(--grey-900);
}

.hidden_message {
  display: none;
}
