.name {
  margin: 12px 0;
}

.image {
  margin: 12px 0;
}

.card {
  padding: 30px 24px;
  width: 275px;
  height: 260px;
  border-radius: 16px;
  background-color: var(--purple-200);
}

.hr {
  margin: 43px 0 16px;
}
