.addMessageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 384px;
  height: 280px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  cursor: default;
}
.addButtonImg {
  width: 56px;
  height: 56px;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
/*tablet*/
@media (max-width: 1199px) {
  .addMessageCard {
    width: 352px;
    height: 280px;
  }
}
/*mobile*/
@media (max-width: 767px) {
  .addMessageCard {
    width: 352px;
    height: 280px;
  }
}
